<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>京东试用</title>
  <script type="text/javascript" src="//at.alicdn.com/t/font_1158580_hkp8qwa52sj.js"></script>
  <!-- <link rel="stylesheet" href="//at.alicdn.com/t/font_1158580_356vac4onps.css"> -->
  <% if (htmlWebpackPlugin.options.nodeModules) { %>
  <!-- Add `node_modules/` to global paths so `require` works properly in development -->
  <script>
    require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
  </script>
  <% } %>
  <style>
    .icon {
      width: 1em;
      height: 1em;
      vertical-align: -0.15em;
      fill: currentColor;
      overflow: hidden;
      font-size: 25px;
    }
    /* .iconfont{
      font-size: 25px;
    } */
  </style>
</head>

<body>
  <div id="app"></div>
  <!-- Set `__static` path to static files in production -->
  <% if (!process.browser) { %>
  <script>
    if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(
      /\\/g, '\\\\')
  </script>
  <% } %>

  <!-- webpack builds are automatically injected -->
</body>

</html>